.gitignore
__pycache__/Combinations.cpython-38.pyc
__pycache__/Test_Combinations.cpython-38-pytest-5.4.3.pyc
htmlcov/Combinations_py.html
htmlcov/coverage_html.js
htmlcov/favicon_32.png
htmlcov/index.html
htmlcov/jquery.ba-throttle-debounce.min.js
htmlcov/jquery.hotkeys.js
htmlcov/jquery.isonscreen.js
htmlcov/jquery.min.js
htmlcov/jquery.tablesorter.min.js
htmlcov/keybd_closed.png
htmlcov/keybd_open.png
htmlcov/status.json
htmlcov/style.css
Development Notes.txt
